<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    My name ist {{ title }}!
  </h1>
</div>

<div class="wrapper">
  <div class="cv">
    <h3>Name</h3>
    <div class="cvText">{{ fullname }}</div>
    <h3>Birthdate</h3>
    <div class="cvText">{{ birthdate }}</div>
    <h3>Country</h3>
    <div class="cvText">{{ country }}</div>
    <h3>Languages</h3>
    <div class="cvText">{{ lang }}</div>
    <h3>Programming languages</h3>
    <div class="cvText">{{ programming }}</div>
  </div>

  <div class="hobby">
    <h3>Games</h3>
    <div class="hobbyText">{{ games }}</div>
    <h3>Sports</h3>
    <div class="hobbyText">{{ sports }}</div>
    <h3>eSport Teams</h3>
    <div class="hobbyText">{{ esportTeams }}</div>
    <h3>Sport Teams</h3>
    <div class="hobbyText">{{ sportTeams }}</div>
  </div>
</div>
<router-outlet></router-outlet>
